@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');


html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(15deg, rgb(193, 192, 204), rgb(206, 202, 202));
}

body {
  font-family: 'Comfortaa';
}

h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  font-size: 64px;
  background: linear-gradient(90deg, rgb(53, 153, 224)40%, rgb(159, 19, 224)60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 500px;
  max-width: 90vw;
  height: calc(70vh - 5px);
  background: linear-gradient(15deg, rgb(193, 192, 204), rgb(206, 202, 202));
  backdrop-filter: blur(1px) brightness(95%);
  border-radius: 30px;
  box-shadow: inset 5px 5px 5px 0 rgb(167, 166, 172), inset -5px -5px 5px 0 rgb(236, 239, 243);
}

.icon {
  background: linear-gradient(15deg, rgb(193, 192, 204), rgb(206, 202, 202));
  border-radius: 50%;
}

.outer {
  height: 130px;
  width: 130px;
  margin: 5px;
  filter: drop-shadow(5px 5px 5px rgb(81, 87, 87)) drop-shadow(-5px -5px 5px rgb(213, 217, 221));
}

.inner {
  height: 100px;
  width: 100px;
  background: linear-gradient(15deg, rgb(193, 192, 204), rgb(206, 202, 202));
  filter: drop-shadow(5px 5px 5px rgba(77, 85, 169, 0.427)) drop-shadow(-5px -5px 5px rgba(213, 217, 221, 0.225));
}

.icon-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 118px;
  width: 118px;
  transform: rotate(-90deg) translate(-50%, -50%s);
  box-shadow: inset 5px 5px 5px 0 rgb(167, 166, 172), inset -5px -5px 5px 0 rgb(236, 239, 243);
  border-radius: 50%;
}
  
.circle > circle {
  fill: none;
  stroke-width: 50px;
  stroke-dasharray: 314; /* equal to circumference of circle 2 * 3.14 * 50 */
  stroke-dashoffset: 0;
}

.temperature {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

}

.temperature > h2 {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-size: 56px;
  font-weight: 200;
}

.temperature > h2 > sup {
  font-size: 28px;
  font-weight: 400;
}


.date {
  position: relative;
  margin-top: 12px;
  width: 100%;
  justify-content: center;
  display: flex;
}

.date-text {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 20px;
  background: linear-gradient(15deg, rgb(193, 192, 204), rgb(206, 202, 202));
  filter: drop-shadow(5px 5px 5px rgba(100, 103, 132, 0.427)) drop-shadow(-5px -5px 5px rgba(241, 243, 245, 0.442));
}

.date h2 {
  margin: 5px;
  font-size: 18px;
  width: fit-content;
  block-size: fit-content;
  padding: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(15deg, rgb(193, 192, 204), rgb(206, 202, 202));
  filter: drop-shadow(5px 5px 5px rgba(100, 103, 132, 0.427)) drop-shadow(-5px -5px 5px rgba(241, 243, 245, 0.442));
  transition-duration: 0.2s;
}

.button:hover {
  background: linear-gradient(15deg, rgb(188, 187, 194), rgb(170, 164, 164));
}

.button:active {
  background: linear-gradient(15deg, rgb(126, 126, 129), rgb(79, 76, 76));
}

.button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

main ul {
  list-style: none;
  overflow: scroll;
  padding: 0;
  padding-right: 15px;
  width: 100%;
  mask: linear-gradient(transparent 0%, white 4%, white 96%, transparent);
  -webkit-mask: linear-gradient(transparent 0%, white 4%, white 96%, transparent);
  scroll-behavior: smooth;
}

main ul::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  display: none;
}

main li {
  color: white;
  right: 0;
  height: 50px;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 5px rgb(58, 33, 86));
  border: 2px solid transparent;
  transition-duration: 0.3s;
}

main li:hover {
  border: 2px solid rgb(31, 26, 87);
  transform: translateY(-5%);
  border-spacing: 2px;
}

main li > div {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(15deg, rgb(157, 0, 255), rgb(15, 6, 111));
}

main li.selected{
  border: 2px solid rgb(31, 26, 87);
}
.cell-content {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.cell-content .time {
  width: 50px;
  margin: 5px;
  padding: 0;
}

.weather {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0;
  margin: 0;
}

.weather > * {
  margin-left: 20px;
  margin-right: 20px;
}

.weather h3{
  height: 100%;
  padding: 0;
  margin: 0;
}

.weather sup {
  vertical-align: top;
  position: relative;
  font-size: 12px;
}

.weather img{
  top: 0;
  height: 32px;
  filter: invert(100%);
}
